<nz-card nzTitle="Basic Summary">
    <div class="cardContent" *ngIf="data">
        <p>The most popular message was <span class="messageDisplay">{{data.MostPopularMessage}}</span> and it was sent
            <span class="messageDisplay">{{data.MostPopularMessageCount}}</span> times.</p>
        <p>The number of media messages that were sent was <span class="messageDisplay">{{data.NumberOfMediaMessages}}</span>.</p>
        <p>The number of messages that were deleted was <span class="messageDisplay">{{data.NumberOfDeletedMessages}}</span>.</p>
        <p>The total number of messages that were sent was <span class="messageDisplay">{{data.NumberOfMessagesSent}}</span>.</p>
        <P>The number of days which had activity was <span class="messageDisplay">{{data.NumberOfDaysWithActivity}}</span> out of <span class="messageDisplay">{{data.NumberOfDaysAnalysed}}</span> days analysed.</P>
        <p>The most active user was <span class="messageDisplay">{{data.MostActiveUser}}</span>, and they sent <span class="messageDisplay">{{data.NumberOfMessagesByMostActiveUser}}</span> messages.</p>
    </div>
</nz-card>