<body class="background" cdkScrollable>
    <header>
        <title>WhatsApp Data Analysis</title>
        <h1>WhatsApp Data Analysis</h1>
    </header>

    <div class="background">
        <data-grid
            [summaryData]="summaryData"
            [dateUsageData]="dateUsageData"
            [dateAverageLengthData]="dateAverageLengthData"
            [numberOfMessagesByUser]="numberOfMessagesByUser"
            [groupNames]="groupNames"
            [userSummaries]="userSummaries"
            [averageMessageLengthByUsers]="averageMessageLengthByUsers"
            [averageMessageLengthAgainstNumberOfMessages]="averageMessageLengthAgainstNumberOfMessages"
            [usageOverTime]="timeSummary"
        ></data-grid>
    </div>
    <footer class="background">Henry Batchelor &copy; 2021</footer>
</body>
