<nz-card [nzTitle]="title">
    <div nz-row>
        <div nz-col [nzSpan]="24">
            <ngx-charts-bar-vertical
                [scheme]="colourScheme"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                xAxis="true"
                yAxis="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [results]="displayData"
                [barPadding]="1"
            ></ngx-charts-bar-vertical>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24">
            <nz-select
                nzMode="multiple"
                nzPlaceHolder="Select Users"
                [(ngModel)]="listOfSelectedValue"
                (ngModelChange)="changeDisplayedData()"
                [nzAllowClear]="true"
            >
                <nz-option
                    *ngFor="let item of listOfOption"
                    [nzLabel]="item"
                    [nzValue]="item"
                ></nz-option>
            </nz-select>
        </div>
    </div>
</nz-card>
