<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
        <basic-summary [data]="summaryData"></basic-summary>
    </div>
    <div nz-col [nzSpan]="16">
        <heat-map-calendar
            *ngIf="dateUsageData"
            [data]="dateUsageData"
            [colourScheme]="colorScheme"
            title="Usage over time"
        ></heat-map-calendar>
    </div>
</div>
<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="16">
        <heat-map-calendar
            *ngIf="dateAverageLengthData"
            [data]="dateAverageLengthData"
            [colourScheme]="colorScheme"
            title="Average message length over time"
        ></heat-map-calendar>
    </div>
    <div nz-col [nzSpan]="8">
        <group-names [data]="groupNames"></group-names>
    </div>
</div>

<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="24">
        <bar-chart
            *ngIf="numberOfMessagesByUser"
            [inputData]="numberOfMessagesByUser"
            xAxisLabel="Users"
            yAxisLabel="Number of Messages"
            title="Number of messages sent by user"
            [colourScheme]="colorScheme"
            sortingScheme="Des"
        ></bar-chart>
    </div>
</div>

<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
        <user-summary [importedData]="userSummaries"></user-summary>
    </div>
    <div nz-col [nzSpan]="16">
        <scatter-plot
            [displayedData]="averageMessageLengthAgainstNumberOfMessages"
            [colourScheme]="colorScheme"
            title="Average message length against number of messages sent"
            xAxisLabel="Number of Messages"
            yAxisLabel="Average Message Length"
        ></scatter-plot>
    </div>
</div>

<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="24">
        <bar-chart
            *ngIf="averageMessageLengthByUsers"
            [inputData]="averageMessageLengthByUsers"
            xAxisLabel="Users"
            yAxisLabel="Average Length"
            title="Average length of messages by user"
            [colourScheme]="colorScheme"
            sortingScheme="Des"
        ></bar-chart>
    </div>
</div>
