<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
        <basic-summary [data]="summaryData"></basic-summary>
    </div>
    <div nz-col [nzSpan]="16">
        <heat-map-calendar [data]="dateUsageData" title="Usage over time"></heat-map-calendar>
    </div>
</div>
<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="16">
        <heat-map-calendar [data]="dateAverageLengthData" title="Average message length over time"></heat-map-calendar>
    </div>
    <div nz-col [nzSpan]="8">

    </div>
</div>
